body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  align-items: center;
}
.main {
  width: 100%;
  align-items: center;
}

.paino {
  padding: 24px 0;
  margin-top: 6rem;
  width: 100%;
  max-width: 920px;
  background-color: #000;
  border-radius: 20px;
  color: #eee;
}
header {
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
  margin: 0 26px;
}
.volume-slider {
  align-items: center;
  gap: 2px;
}

#main {
  display: block;
  width: 100%;
  height: 350px;
  max-width: 880px;
  position: relative;
  margin: 40px auto 0;
  cursor: none;
}

.key {
  position: relative;
  border: 4px solid #111;
  border-radius: 0.5rem;
  transition: all 0.07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
}
.white-key {
  float: left;
  width: 10%;
  height: 100%;
  background: #eee;
  color: #000;
}
.black-key {
  position: absolute;
  width: 6%;
  height: 60%;
  background: #333;
  color: #eee;
  top: 0;
  z-index: 3;
}

.key[data-key="11"] {
  left: 7%;
}

.key[data-key="12"] {
  left: 17%;
}

.key[data-key="13"] {
  left: 37%;
}

.key[data-key="14"] {
  left: 47%;
}

.key[data-key="15"] {
  left: 57%;
}

.key[data-key="16"] {
  left: 77%;
}

.key[data-key="17"] {
  left: 87%;
}

.playing {
  transform: scale(0.98);
  border-color: #000;
  box-shadow: 0 0 1rem #000;
}
.key-text {
  position: absolute;
  bottom: 0;
  left: 0;
}

#main span {
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
}

.main .songs {
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  gap: 6px;
}
.main .songs .song {
  border: 1px solid #222;
  border-radius: 15px;
  width: 312px;
  height: 24px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.main .songs .playing-song {
  background-color: green;
}

@media screen and (max-width: 450px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
