#title {
  font-size: 3em;
  color: #fff;
}
.main {
  gap: 12px;
  background-color: #6500b0;
  border-radius: 20%;
  padding: 48px 48px;
  transition: ease-in-out 0.2s;
}

.toggle-menu {
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.toggle-menu p {
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 3px 2px #000;
}

.toggle-btn {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 3px 1px #000;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  transition: ease-in-out 0.2s all;
  cursor: pointer;
}

.pressed {
  transform: scale(1.05);
  box-shadow: 0 0 24px #fff;
  animation: none;
}

.main .rightMenu,
.leftMenu {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
}
.rightMenu {
  margin-right: 24px;
}
.leftMenu {
  margin-left: 24px;
}

.tablet-btn,
input {
  width: 100px;
  height: 50px;
  background-color: #6500b0;
  border: 2px solid #fff;
  border-radius: 25px;
  color: #fff;
  padding: 6px;
  font-size: 1.2em;
  transition: ease-in-out 0.3s;
}
.tablet-btn:hover,
input:hover {
  transform: scale(1.05);
  box-shadow: 0 0 24px #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 640px;
  height: 640px;
}

.cell {
  border: 0.1px solid #000;
  background-color: #fff;
  width: auto;
  height: auto;
}
