body {
  /* font-family: "Courier New", Courier, monospace; */
  background-color: #e9edc9;
  color: #444;
}
.main {
  gap: 20px;
  align-items: center;
}
.choices {
  gap: 12px;
}
.choice {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  border: none;
  background-color: #ecf2ff;
}
.choice:hover {
  transform: scale(1.05);
}

.choice i {
  font-size: 4em;
  color: #444;
}

.game-results {
  gap: 24px;
  padding: 6px 12px;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
}
.score {
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 144px;
  font-size: 2em;
}
#playerScore,
#computerScore {
  background-color: #ecf2ff;
  border-radius: 15px;
}

.roundResults {
  align-items: center;
  justify-content: space-between;
  width: 348px;
  margin: 0 auto;
}
.result-side {
  position: relative;
}
.player {
  font-size: 0.8em;
  position: absolute;

  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#playerChoice,
#npcChoice {
  font-size: 0.8em;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.outcome {
  align-items: center;
  justify-content: center;
  width: 348px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #ecf2ff;
}

.turn-result {
  font-size: 20px;
}

#refresh {
  visibility: hidden;
  font-size: 1em;
  font-weight: bold;
  width: 124px;
  height: 48px;
  border: 2px solid #444;
  color: #444;
  background-color: #ecf2ff;
  border-radius: 25px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
#refresh:hover {
  border-color: #ecf2ff;
  background-color: #444;
  color: #ecf2ff;
}

@media only screen and (max-width: 600px) {
  .choices {
    gap: 8px;
  }
  .choice {
    width: 110px;
    height: 110px;
  }
}
